:root {
  --title-color: #fff;
  --button-color: #fff;
  --accent-color: #dd2242;
  --text-color: #939393;
  --title-decor-color: #010a20;
}

body {
  font-family: Open Sans;
  background-color: black;
}
.header {
  margin-top: 40px;
}
.header-title {
  color: var(--title-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 23.961px;
  font-weight: 900;
  line-height: 80.5%; /* 19.288px */
  letter-spacing: 0.315px;
  text-transform: uppercase;
}
.header-link {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-right: 12px;
  margin-left: 74px;
}
.header-list {
display: flex;
align-items: center;
justify-content: left;
}
.header-list-2 {
  display: flex;
  margin-left: 842px;
}
.hero-section {
  margin-top: 195px;
}
.header-div {
  display: flex;
  align-items: center;
}
.hero-title {
  color: var(--title-color);
  /* H1 */
  font-family: Roboto;
  font-size: 120px;
  font-weight: 900;
  line-height: 130px;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.hero-button {
  color: var(--button-color);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 282px;
}
.hero-list {
  display: flex;
}
.hero-div {
  display: flex;
}
.hero-list-h2 {
  color: var(--accent-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}
.hero-list-title {
  color: var(--title-color);
  font-size: 26.409px;
  font-weight: 700;
  line-height: 41.081px;
  
}
.hero-list-text {
  color: var(--text-color);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; 
  letter-spacing: 0.5px;
}
.section-walkways {
  padding-top: 207px;
}
.walkways-title {
  color: var(--title-color);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px; 
}
.walkways-text {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.18px;
}
.walkways-button {
  color: var(--button-color);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}
.walkways-box {
 
  outline: solid yellow;
}
.walkways-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.walkways-item {
  display: flex;
  justify-content: space-between;
  outline: solid blue;
  gap: 125px;
}
.walkways-item:nth-child(2n) {
  flex-direction: row-reverse;
}

.Perfect-title {
  color: var(--title-color);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
}
.Perfect-text {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.18px;
}
.Perfect-button {
  color: var(--button-color);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}
.section-Explore {
  padding-bottom: 886px;
}
.Explore-list {
  display: flex;
  justify-content: center;
  gap: 31px;
}
.Explore-title {
  color: var(--title-decor-color);
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  line-height: 150%; 
  margin-top: 127px;
}
.Numbers-list {
  display: flex;
justify-content: center;
gap: 100px
;
}
.Numbers-title {
  color: var(--title-color);
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 150%; /* 90px */
}
.Numbers-text {
  color: var(--text-color);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* Paragraph Light */
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.5px;
  width: 484px;
  margin-left: auto;
  margin-right: auto;
 margin-bottom: 39px;
}
.Numbers-list-title {
  color: var(--accent-color);
  text-align: center;
  font-size: 42.137px;
  font-weight: 700;
  line-height: 49.16px; /* 116.667% */
  letter-spacing: 0.386px;
}
.Numbers-list-text {
  color: var(--text-color);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  width: 340px;
}
.section-Our {
  padding-top: 249px;
  padding-bottom: 256px;
}
.Our-title {
  color: var(--title-decor-color);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px; 
  width: 614px;
  margin-left: auto;
  margin-right: auto;
}
.Our-text {
  color: #000;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
 width: 470px;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px; 
  margin-left: auto;
  margin-right: auto;
}
.Our-button {
  color: var(--button-color);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Live-title {
  color: var(--title-color);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  width: 1056px;
  margin-bottom: 67px;
  margin-left: auto;
  margin-right: auto;
}
.Live-list {
display: flex;

}
.Live-item {
  display: flex;

}
.Live-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Live-list-title {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}
.Live-list-text {
  color: var(--text-color);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; 
  letter-spacing: 0.5px;
}
.gallery-title {
  color: var(--title-color);
  text-align: center;
  font-family: DM Sans;
  font-size: 60px;
  font-weight: 700;
  line-height: 150%;
}
.gallery-text {
  color: var(--text-color);
  text-align: center;

  /* Paragraph */
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.18px;
}
.Getting-title {
  color: var(--title-decor-color);
  /* H2 */
  font-size: 60px;
  font-weight: 700;
  line-height: 150%; /* 90px */
}
.Getting-list-title {
  color: var(--title-decor-color);
  /* H4 */
  font-size: 26.409px;
  font-weight: 700;
  line-height: 41.081px; /* 155.556% */
}
.Getting-list-text {
  color: var(--Light-Text, rgba(21, 20, 57, 0.4));
  font-size: 23.475px;
  font-weight: 400;
  line-height: 38.146px; /* 162.5% */
}
.footetr-title {
  color: var(--title-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 23.961px;
  font-weight: 900;
  line-height: 90.5%;
  letter-spacing: 0.315px;
  text-transform: uppercase;
}
.footer-span {
  color: var(--accent-color);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 23.961px;
  font-weight: 900;
  line-height: 90.5%; /* 21.684px */
  letter-spacing: 0.315px;
  text-transform: uppercase;
}
.footer-link {
  color: var(--main-white, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.5px;
}
.footer-copyright {
  color: var(--title-color);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.5px;
}
